.jumboTron {
    background-image: url("https://assets.foxdcg.com/dpp-uploaded/images/bobs-burgers/logo-pho1.png");
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top:10px;
}

h2 {
	margin-top: 355px;
	font-family: 'Cabin', sans-serif;
	font-size: 22px;

}
